{% extends "school/base.html" %}
{% load static %}
{% block title %}Challenge: {{challenge.title}}{% endblock title %}
{% block script %}
<script  src="{% static 'js/js-confeti.js' %}"></script>
<script  src="{% static 'school/js/Challenger.js' %}"></script>
<script src="{% static 'school/js/challengeDetail.js' %}"></script>
{{questions|json_script:"questions_data" }}

{% endblock script %}

{% block main %}

<section class="flex flex-col items-center justify-center min-h-[80vh]">
    <div class="text-center">
        <h2 class="text-xl font-bresse mb-2">Wellcome To</h2>
        <h1 class="text-5xl font-bresse mb-2">{{challenge}}</h1>

        <p class="text-lg mb-10 max-w-md">
            Try to answer the question, use the <q>Show</q> button to check your answer
            and finally mark the question as <q>Correct</q> or <q>Wrong</q>
        </p>
    </div>

    <div id="challenge-detail" class="rounded w-full max-w-xl bg-darkheader border border-teal-300">
    </div>

    <div class="text-center mt-20">
        <a class="transition-colors text-black border-amber-300 border-4 text-3xl font-bresse px-4 py-3 rounded-lg bg-amber-600 hover:bg-amber-500  active:border-0" 
        href="{% url 'school:challenge_resume' challenge.id %}">Go to Resume</a>
    </div>

</section>

{% endblock main %}

