{% load widget_tweaks %}

<form method="post" action="{% url 'school:category_create' %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-post="{% url 'school:category_create' %}"
    hx-target="#flashcard-category-container"
    hx-swap="innerHTML transition:true"
    class="form-card">

    <h2 class="text-3xl mb-3 font-bresse whitespace-pre">Create  Category</h2>
    <!-- ========= NON FIELD ERROR ========== -->
    {% if form.non_field_errors %}
        <div class="non-field-errors">
            {% for error in form.non_field_errors %}
            <p class="error-message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}


    <!-- ========= CATEGORY ========== -->
    <div id="flashcard-category-container" class="grow">
        <label class="block mb-1" for="{{ form.name.id_for_label }}">
            {{form.name.label}}
        </label>
        {% for error in form.name.errors %}
            <p class="error-message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
        {% endfor %}
        
        {% render_field form.name class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" %}
    </div>


    <div class="text-right mt-3">
        <button class="text-xl py-1 px-2 rounded-sm bg-teal-500 hover:bg-teal-600 active:bg-teal-800 active:scale-95 text-black" type="submit">Create</button>
    </div>
</form>