{% load widget_tweaks %}
{% load dirs %}

<form class="flex flex-col gap-y-4" method="post" action="{% url 'school:challenge_create' %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-post="{% url 'school:challenge_create' %}"
    hx-swap="none"
    class="form-card"
>

    
    <h2 class="text-3xl font-bresse ">New Challenge</h2>

    {% csrf_token %}
    <!-- ========= NON FIELD ERROR ========== -->
    {% if form.non_field_errors %}
        <div class="non-field-errors">
            {% for error in form.non_field_errors %}
            <p class="error_message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    
    <!-- ========= Title ========== -->
    <div class="">
        <label class="block mb-1" for="{{ form.title.id_for_label }}">
            {{form.title.label}}
        </label>
        {% for error in form.title.errors %}
            <p class="error_message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
        {% endfor %}

        {% render_field form.title class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" %}
    </div>

    <!-- ========= level ========== -->
    <div class="">
        <label class="block mb-1" for="{{ form.level.id_for_label }}">
            {{form.level.label}}
        </label>
        {% for error in form.level.errors %}
            <p class="error_message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
        {% endfor %}

        <select hx-get="{% url 'school:update_sections_challenge_form' %}"
            hx-trigger="change"
            hx-target="#challenge-create-category-container"
            hx-swap="innerHTML transition:true"
            name="{{form.level.name}}" class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" 
            rows="3" id="{{form.level.id_for_label}}">
            {% for lev in form.level %}
                <option {% if lev.data.selected %}selected{% endif %} value="{{lev.data.value}}">{{lev.data.label}}</option>
            {% endfor %}  
        </select>
    </div>

    
        <!-- ========= CATEGORY ========== -->
         <div id="challenge-create-category-container" class=" text-white">
   
        {% include "school/partials/forms/challenge_create_sections/category.html" with form=form %}
        </div>

        <!-- ========= number_questions ========== -->
        <div id="challenge-create-number-container" class="">
            <label class="block mb-1" for="{{ form.number_questions.id_for_label }}">
                {{form.number_questions.label}}
            </label>
            {% for error in form.number_questions.errors %}
                <p class="error_message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
            {% endfor %}
            
            {% render_field form.number_questions class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" %}
        </div>

    
    <div class="text-right">
        <button class="text-xl py-1 px-2 rounded-sm bg-teal-500 hover:bg-teal-600 active:bg-teal-800 active:scale-95 text-black" type="submit">Start Challenge</button>
    </div>
</form>