{% load widget_tweaks %}
<form action="{% url 'school:challenge_filter' %}"
    hx-get="{% url 'school:challenge_filter' %}"
    hx-target="#table-challenges-container"
    hx-swap="innerHTML transition:true">

    <h2 class="text-3xl font-bresse mb-3">Filter Challenges</h2>
     <!-- ========= NON FIELD ERROR ========== -->
     {% if filter_challenge_form.non_field_errors %}
     <div class="non-field-errors">
         {% for error in form.non_field_errors %}
         <p class="error-message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
         {% endfor %}
     </div>
    {% endif %}

    <div class="flex items-end flex-wrap gap-2">

        {% for field in filter_challenge_form %}
        <div class="mb-3">
            <!-- i deside not include the labels -->

            {% for error in field.errors %}
                <p class="error-message text-red-400">{{ error }}</p>
            {% endfor %}

    
            {% render_field field class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" %}
        </div>
    {% endfor %}
    <div class="mb-3 flex items-end">
        <button class="text-xl py-1 px-2 rounded-sm bg-teal-500 hover:bg-teal-600 active:bg-teal-800 active:scale-95 text-black" type="submit">Filter</button>
    </div>

    </div>
</form>