{% load widget_tweaks %}
<form action="{% url 'school:flashcard_list' %}"
    hx-get="{% url 'school:flashcard_list' %}"
    hx-target="#section-card-list-container"
    hx-swap="innerHTML transition:true"
    hx-push-url="true">
    <h2 class="text-3xl mb-3 whitespace-pre font-bresse">Search  Flashcard</h2>
     <!-- ========= NON FIELD ERROR ========== -->
     {% if flashcard_form.non_field_errors %}
     <div class="non-field-errors">
         {% for error in form.non_field_errors %}
         <p class="error-message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
         {% endfor %}
     </div>
    {% endif %}

    <div class="flex items-end flex-wrap gap-2">
        {% for field in search_form %}
        <div class="mb-3 w-1/3 grow">
            <label class="block mb-2" for="{{ field.id_for_label }}">
                {{field.label}}
            </label>

            {% for error in field.errors %}
                <p class="error-message text-red-400">{{ error }}</p>
            {% endfor %}

    
            {% render_field field class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" %}
        </div>
    {% endfor %}
    <div class="mb-3 flex items-end">
        <button class="py-1 px-2 rounded-sm bg-teal-500 hover:bg-teal-600 active:bg-teal-800 active:scale-95 text-black" type="submit">Search</button>
    </div>

    </div>
</form>