{% load static %}
{% load widget_tweaks %}

<form method="dialog" action="{% url 'school:flashcard_edit' flashcard_id %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-post="{% url 'school:flashcard_edit' flashcard_id %}"
    hx-target="#section-card-list-container"
    hx-swap="innerHTML transition:true"
    class=""
    >
    <div class="flex justify-between">
        <h2 class="text-2xl mb-3">Edit Flashcard</h2>
        <button class="rounded bg-red-600 w-7 h-7 grid cursor-pointer place-content-center" 
            type="button" onclick="closeEditModal()">
            <img src="{% static 'school/icons/x.svg' %}" alt="close the edit flashcard modal">
        </button>
    </div>
    <!-- ========= NON FIELD ERROR ========== -->
    {% if form.non_field_errors %}
        <div class="non-field-errors">
            {% for error in form.non_field_errors %}
            <p class="error-message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    
    <!-- ========= QUESTION ========== -->
    <div class="mb-3">
        <label class="block mb-1" for="{{ form.question.id_for_label }}">
            {{form.question.label}}
        </label>
        {% for error in form.question.errors %}
            <p class="error-message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
        {% endfor %}

        {% render_field form.question class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" %}
    </div>

    <!-- ========= ANSWER ========== -->
    <div class="mb-3">
        <label class="block mb-1" for="{{ form.answer.id_for_label }}">
            {{form.answer.label}}
        </label>
        {% for error in form.answer.errors %}
            <p class="error-message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
        {% endfor %}
        
        {% render_field form.answer rows=3 class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" %}
    </div>

    <fieldset class="mb-3 flex items-end gap-3">
        <!-- ========= CATEGORY ========== -->
        <div class="grow">
            <label class="block mb-1" for="{{ form.category.id_for_label }}">
                {{form.category.label}}
            </label>
            {% for error in form.category.errors %}
                <p class="error-message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
            {% endfor %}
            
            {% render_field form.category class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" %}
        </div>

        <!-- ========= LEVEL ========== -->
        <div class="grow">
            <label class="block mb-1" for="{{ form.level.id_for_label }}">
                {{form.level.label}}
            </label>
            {% for error in form.level.errors %}
                <p class="error-message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
            {% endfor %}
            
            {% render_field form.level class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" %}
        </div>
    </fieldset>

    <div class="text-right">
        <button onclick="closeEditModal()" class="px-2 py-1 text-black bg-teal-500" type="submit">Save Changes</button>
    </div>
</form>