<table class="rounded overflow-hidden w-full max-w-[max-content] mx-auto">
    <thead class="text-gray-700 uppercase bg-gray-50 ">
        <tr>
            <th class="hidden sm:table-cell px-6 py-3">Challenge</th>
            <th class="px-6 py-3">Title</th>
            <th class="hidden md:table-cell px-6 py-3">Level</th>
            <th class="hidden sm:table-cell px-6 py-3">Status</th>
            <th class="px-6 py-3">Resume</th>

        </tr>
    </thead>
    <tbody class="text-gray-600">
        {% for challenge in challenges %}
        <tr class="bg-white border-b ">
            <td class="hidden sm:table-cell px-6 py-4">{{challenge.id}}</td>
            <td scope="row" class=" px-6 py-4 font-medium text-gray-900 ">{{challenge.title}}</td>
            <td class="hidden md:table-cell px-6 py-4">{{challenge.get_level_display}}</td>
            <td class="hidden sm:table-cell px-6 py-4">{{challenge.get_status_display}}</td>
            <td class="px-6 py-4">
                <a class="px-2 py-1 rounded bg-teal-500" href="{{challenge.get_resume_url}}">
                    Resume
                </a>
                
            </td>

        </tr>
        {% empty %}
        <tr class="bg-white border-b">
            <td colspan="100%%" class="text-center px-6 py-4">
                No results
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>