{% load static  %}
<li class="mb-3">
    <article class="flex flex-col gap-y-2 relative p-3 rounded bg-darkheader border border-teal-300
        {% if new_card %}
            new-card-animation
        {% endif %}">
        <div class="flex justify-between">
            
            <span class="text-sm rounded px-2 py-1 bg-darkbody">
                {{card.category | upper}}
            </span>

            <button type="button" class="btn-delete-card w-7 h-7 grid cursor-pointer place-content-center bg-teal-500  rounded"
                hx-delete="{% url 'school:flashcard_delete' card.id %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

                <img src="{% static 'school/icons/trash.svg' %}" alt="Button for Delete the flashcard">
            </button>
        </div>

        <h3 class="text-xl font-semibold">{{card.question | capfirst}}</h3>
        
        
        
        <p class="text-sm italic">Created on {{card.created}}</p>
    </article>
</li>