{% load static  %}
<li class="mb-3">
    <article class="p-3 rounded  bg-darkheader border border-teal-300
        {% if new_card %}
            new-card-animation
        {% endif %}">
        <div class="mb-3 flex justify-between">
            
            <span class="text-sm grid place-content-center rounded px-2 py-1 bg-darkbody">
                {{card.category | upper}}
            </span>

            <div class="flex gap-3">
                <!-- HANDELING THE RENDER IN CHALLENGE RESUME -->
                {% if challenge_resume %}

                    <span class="w-10 h-10 relative rounded-full 
                    {% if card.answered %}
                        {% if card.right_answered %}bg-right{% else %}bg-wrong{% endif %}
                    {% else %}bg-yellow{% endif %}">
                        {% if card.answered %}
                            {% if card.right_answered %}
                                <img class="absolute top-1 inset-0 mx-auto w-3/4" src="{% static 'school/icons/check.svg' %}" alt="question was answered right">
                            {% else %}
                                <img class="absolute inset-0 mx-auto w-3/4" src="{% static 'school/icons/x.svg' %}" alt="question was answered wrong">
                            {% endif %}
                        {% else %}
                            <img class="absolute top-1 inset-0 mx-auto w-1/2" src="{% static 'school/icons/question.svg' %}" alt="question was answered wrong">
                        {% endif %}
                    </span>
                    
                {% else %}
                <!-- DELETE BUTTON -->
                <button type="button" class="btn-delete-card w-7 h-7 rounded grid cursor-pointer place-content-center border-2 border-teal-300 transition-colors bg-teal-500  hover:bg-teal-600 active:scale-95 "
                    onclick="removeFlashcard(this)"
                    hx-delete="{% url 'school:flashcard_delete' card.id %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

                    <img src="{% static 'school/icons/trash.svg' %}" alt="Button for Delete the flashcard">
                </button>

                <!-- EDIT BUTTON -->
                <button class="p-1 rounded w-7 h-7 border-2 border-teal-300 transition-colors bg-teal-500  hover:bg-teal-600 active:scale-95" onclick="showEditModal()"
                    hx-get="{% url 'school:flashcard_edit' card.id %}"
                    hx-target="#flashcard-edit-container">
                
                    <img class="" src="{% static 'school/icons/edit.svg' %}" alt="Edit the flashcard">
                </button>
                {% endif %}
            </div>
        </div>

        <h3 class="mb-3 text-xl font-semibold">{{card.question | capfirst}}</h3>
        
        
        <div class="text-end">
            <button onclick="toggleAnswerVisiblity(this)" class="rounded bg-teal-500 text-black py-1 px-2 border-2 border-teal-300 transition-colors  hover:bg-teal-600 active:scale-95">Show</button>
        </div>

        <div class="answer-acordeon">
            <div class="answer" >
                <p>{{card.answer}}</p>
                
                <div class="flex justify-between">
                    <p class="text-sm italic">Created on {{card.created}}</p>
                   
                </div>
            </div>
        </div>
        
    </article>
    
</li>
