{% load static %}
<div class="flex flex-col gap-3">
    <h2 class="text-3xl font-bresse">Flashcards</h2>
    <ul id="card-list-container" class="flex flex-col">
    {% for card in cards %}
        {% include 'school/partials/cards/detail.html' with card=card %}
    {% empty %}
        {% if searching %}
            <p>No matches</p>
        {% else %}
            <p>You haven't registred any card yet. It's time for create one!</p>
        {% endif %}
        
    {% endfor %}
    </ul>
        
    <!-- HERE GOES THE VALIDATION FOR DJANGO PAGINATION -->
    {% if True %}
        <button class=""
            hx-get="{ url 'school:flashcards_list' }?page={aqui la paginacion de django}"
        >Load More</button>
    {% endif %}

</div>
