{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tailwind/tail.css' %}">
    <script src="{% static 'js/htmx.min.js.gz' %}"></script>
    
    <script  src="{% static 'js/token.js' %}"></script>

    <script  src="{% static 'school/js/htmxEvents.js' %}"></script>
    <script src="{% static 'school/js/utils.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'school/css/animations.css' %}">
    <script defer src="{% static 'js/alpine.js' %}"></script>

    <link rel="canonical" href="https://keinermendoza.com/demonstration-projects/memorize/">
    <meta name="title" content="Challenge Memorize">
    <meta name="description" content="The place where you memorize whatever you want with fun">

    <meta charset="UTF-8">
    <meta name="author" description="keiner mendoza" >

    <meta property="og:url"           content="https://keinermendoza.com/demonstration-projects/memorize/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Challenge Memorize" />
    <meta property="og:description"   content="The place where you memorize whatever you want with fun" />
    <meta property="og:image"         content="https://keinermendoza.com/demonstration-projects/memorize/{% static 'school/images/success.png' %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'school/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'school/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'school/icons/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'school/icons/favicon.ico' %}" type="image/x-icon" />

    {% block script %}{% endblock script %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="text-white flex flex-col min-h-screen w-full">
    <header x-data="{isMobileOpen: false}" 
        class="w-full bg-darkheader shadow shadow-teal-700 fixed z-50">
        
        <div class="mx-auto max-w-1440px h-12 flex justify-between gap-10 items-center py-1 px-5 md:px-12 md:py-2">

        <a class="text-lg font-bresse font-semibold whitespace-pre underline-offset-4 hover:underline hover:decoration-2 hover:decoration-slate-200" href="{% url 'school:home' %}">Challenge  Memorize</a>


        <!-- hidden in screens shorter than sm -->
        <nav class="hidden sm:flex grow justify-between">
            <ul class="flex gap-8 font-semibold ">        
                <li>
                    <a class="transition-all underline-offset-4 hover:underline hover:decoration-2 hover:decoration-slate-200" href="{% url 'school:flashcard_list' %}">Flashcards</a>
                </li>

                <li>
                    <a class="underline-offset-4 hover:underline hover:decoration-2 hover:decoration-slate-200" href="{% url 'school:challenges' %}">Challenges</a>
                </li>
            </ul>

            <ul class="flex gap-8 font-semibold ">
                {% if user.is_authenticated %}
                <li class="hidden md:block">
                    <span>Logged as <strong>{{user.username | title}}</strong></span>
                </li>

                <li>
                    <a class="underline-offset-4 hover:underline hover:decoration-2 hover:decoration-slate-200" href="{% url 'account:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a class="underline-offset-4 hover:underline hover:decoration-2 hover:decoration-slate-200" href="{% url 'account:register' %}">Register</a>
                </li>
                <li>
                    <a class="underline-offset-4 hover:underline hover:decoration-2 hover:decoration-slate-200" href="{% url 'account:login' %}">Login</a>
                </li>
                {% endif %}
                
            </ul>
        </nav>

        <!-- hidden on screens hiegier than sm -->
        <button @click="isMobileOpen = !isMobileOpen"
            x-on:resize.window="isMobileOpen = false"
            class="rounded grid place-content-center w-7 h-7 bg-teal-400 sm:hidden">
            <span  x-bind:class="isMobileOpen ? 'block' : 'hidden'">
                <img src="{% static 'school/icons/x.svg' %}" alt="close mobile navbar icon">
            </span>    
            <span  x-bind:class="isMobileOpen ? 'hidden' : 'block'">
                <img src="{% static 'school/icons/snake.svg' %}" alt="open mobile navbar icon">
            </span>
        </button>
                
    </div>
    
    {% comment %} MOBILE MENU {% endcomment %}
    <nav x-bind:class="isMobileOpen ? 'block opacity-100 top-12' : 'hidden opacity-0 top-10'"
        x-cloak  
        class="transition-all duration-300 bg-darkheader fixed w-full overflow-hidden">
        <ul class="min-h-screen flex flex-col text-center">
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'account:register' %}">Register</a>
            </li>
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'account:login' %}">Login</a>
            </li>
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'school:home' %}">Home</a>
            </li>
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'school:flashcard_list' %}">Flashcards</a>
            </li>
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'school:challenges' %}">Challenges</a>
            </li>
        </ul>
    </nav>
    </header>

 
    <main class="bg-darkbody grow">
        <div class="mx-auto w-full p-5 pt-[calc(3rem+2.5rem)] md:px-12 max-w-1440px">

            {% if messages %}
                {% for message in messages %}
                    <div id="message-{{forloop.counter0}}" 
                        class="flex items-center mb-4 py-2 bg-amber-300 border-4 text-black text-lg  rounded ">
                        <p class="grow text-xl font-medium text-center">{{message}}</p>
                      
                        <button type="button" class="ml-auto mr-2 btn-delete-card px-2 py-2 rounded-lg grid cursor-pointer  place-content-center border-2 border-black transition-colors bg-red-500  hover:bg-red-600 active:scale-95 "
                            onclick="deleteparent(this)"
                            data-parent="#message-{{forloop.counter0}}">
                            <img src="{% static 'school/icons/x.svg' %}" alt="Button for Delete the flashcard">
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            {% block main %}
            {% endblock main %}
        </div>
    </main>
        
</body>
</html>
