{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tailwind/tail.css' %}">
    <script src="{% static 'js/htmx.min.js.gz' %}"></script>

    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="text-white flex flex-col min-h-screen w-full">
    <header class="mx-auto w-full max-w-xxl bg-darkheader">
        <div class="flex justify-between gap-6 items-center px-3 py-1 md:px-6 md:py-2">

        <span class="text-lg font-bold font-mono">🐍 KM</span>

        <!-- hidden in screens shorter than sm -->
        <nav class="hidden sm:flex grow justify-between">
            <ul class="flex gap-3">        
                <li>
                    <a href="">Flashcards</a>
                </li>

                <li>
                    <a href="">Resume</a>
                </li>
            </ul>

            <ul class="flex gap-3">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'school:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'school:register' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'school:login' %}">Login</a>
                </li>
                {% endif %}
                
            </ul>
        </nav>

        <!-- hidden on screens hiegier than sm -->
        <button class="rounded px-2 py-1 bg-teal-400 sm:hidden">Show</button>
                
    </div>
    </header>
    <main class="bg-darkbody grow p-5  md:p-10">
        <div class="mx-auto w-full max-w-6xl">
            {% block main %}
            {% endblock main %}
        </div>
    </main>
        
</body>
</html>
