{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tailwind/tail.css' %}">
    <script src="{% static 'js/htmx.min.js.gz' %}"></script>
    
    <script  src="{% static 'js/SweetAlert.js' %}"></script>
    <script  src="{% static 'js/token.js' %}"></script>

    <script  src="{% static 'school/js/alpineStore.js' %}"></script>
    <script src="{% static 'school/js/utils.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'school/css/animations.css' %}">
    <script defer src="{% static 'js/alpine.js' %}"></script>

    {% block script %}{% endblock script %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="text-white flex flex-col min-h-screen w-full">
    <header x-data="{isMobileOpen: false}" 
        class="w-full bg-darkheader shadow-md shadow-slate-200">
        
        <div class="mx-auto max-w-1440px h-12 flex justify-between gap-6 items-center py-1 px-5 md:px-12 md:py-2">

        <a class="font-bresse font-semibold whitespace-pre" href="{% url 'school:home' %}">Study  Flashcards</a>


        <!-- hidden in screens shorter than sm -->
        <nav class="hidden sm:flex grow justify-between">
            <ul class="flex gap-3">        
                <li>
                    <a href="{% url 'school:flashcard_list' %}">Flashcards</a>
                </li>

                <li>
                    <a href="{% url 'school:challenges' %}">Challenges</a>
                </li>
            </ul>

            <ul class="flex gap-3">
                {% if user.is_authenticated %}
                <li>
                    <span >Logged as <strong>{{user.username | title}}</strong></span>
                </li>

                <li>
                    <a href="{% url 'account:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account:register' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'account:login' %}">Login</a>
                </li>
                {% endif %}
                
            </ul>
        </nav>

        <!-- hidden on screens hiegier than sm -->
        <button @click="isMobileOpen = !isMobileOpen"
            x-on:resize.window="isMobileOpen = false"
            class="rounded grid place-content-center w-7 h-7 bg-teal-400 sm:hidden">
            <span  x-bind:class="isMobileOpen ? 'block' : 'hidden'">
                <img src="{% static 'school/icons/x.svg' %}" alt="close mobile navbar icon">
            </span>    
            <span  x-bind:class="isMobileOpen ? 'hidden' : 'block'">
                <img src="{% static 'school/icons/snake.svg' %}" alt="open mobile navbar icon">
            </span>
        </button>
                
    </div>
    
    {% comment %} MOBILE MENU {% endcomment %}
    <nav x-bind:class="isMobileOpen ? 'block opacity-100 top-12' : 'hidden opacity-0 top-10'"
        x-cloak  
        class="transition-all duration-300 bg-darkheader absolute w-full overflow-hidden">
        <ul class="min-h-[calc(100vh-48px)] flex flex-col text-center">
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'account:register' %}">Register</a>
            </li>
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'account:login' %}">Login</a>
            </li>
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'school:home' %}">Home</a>
            </li>
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'school:flashcard_list' %}">Flashcards</a>
            </li>
            <li>
                <a class="transition duration-200 block py-3 w-full hover:bg-violet-900" 
                href="{% url 'school:challenges' %}">Challenges</a>
            </li>
        </ul>
    </nav>

    </header>
    
    <main class="bg-darkbody grow">
        <div class="mx-auto w-full p-5 pt-10 md:px-12 max-w-1440px">
            {% block main %}
            {% endblock main %}
        </div>
    </main>
        
</body>
</html>
