{% extends 'school/base.html' %}
{% load static %}
{% block title %}Challenges{% endblock title %}

{% block main %}

{% with flashcard_exits=user.flashcards.count %}

{% if flashcard_exits %}
    <div class="mb-8 max-w-md mx-auto lg:mx-0">
        <h1 class="text-5xl font-semibold mb-3 font-bresse">Start Challenge</h1>
        <p class="text-lg">Choose the Name, Categories, Level and number of questions for Your Challenge</p>
    </div>
{% endif %}

<section class="flex items-center justify-between gap-10 flex-col lg:items-start lg:flex-row ">

    <div id="creation-challenge-div" class="w-full max-w-md flex flex-col gap-8">
        {% if flashcard_exits %}
            
            <!-- =====  CHALLENGE FORM ===== -->
            <div id="challenge-form-container" class="">
                {% include 'school/partials/forms/challenge_create.html' with form=challenge_form %}
            </div>

        {% else %}
            <h1 class="text-5xl font-semibold mb-3 font-bresse">Not Ready</h1>
            <p class="text-lg">You need to register at least one flashcard before you can create a Chalenge</p>
            <div class="mt-5 text-center">
                <a class="rounded bg-teal-500 text-black py-1 px-2 border-2 border-teal-300 transition-colors  hover:bg-teal-600 active:scale-95" href="{% url 'school:flashcard_list' %}">Go to FlashCards</a>
            </div>
        {% endif %}
    </div>
{% endwith %}
    <!-- ===== LIST AND FILTER CHALLENGE ===== -->
    <div id="filtering-challenge-div" class="grow text-center lg:place-self-start flex flex-col gap-8">

        <!-- =====  CHALLENGE FILTER ===== -->
        <div id="challenges-filter-form-container" class="w-full mx-auto flex justify-center">
            {% include "school/partials/forms/challenge_filter.html" %}
        </div>

        <div id="table-challenges-container" class="w-full"> 
            {% include "school/partials/challenges/table.html" with challenges=challenges %}
        </div>
    </div>

</section>
{% endblock main %}
    