{% extends "school/base.html" %}
{% load widget_tweaks %}

{% block main %}
<section class="flex flex-col items-center sm:flex-row sm:items-start gap-x-10 gap-y-5 justify-between ">
    <div id='flashcard-form-container'>
        {% include "school/partials/forms/create_flashcard.html" with flashcard_form=flashcard_form %}
    </div>

    <ul id="card-list-container" class="flex flex-col gap-3">
        {% include "school/partials/cards/list.html" with cards=cards %}
    </ul>
</section>
{% endblock main %}