{% extends 'school/base.html' %}
{% load static %}


{% block main %}
<section class="flex flex-col sm:flex-row gap-x-10 gap-y-5 justify-between items-center">
    <figure class="max-w-[300px] mx-2 overflow-hidden text-center">
        <h1 class="font-mono text-2xl font-semibold">The Snake Study Platform</h1>
        <img class="w-full h-auto object-contain" src="{% static 'school/images/snake.png' %}" alt="A cute python lerning programming in it's laptop">
        <figcaption class="text-sm">Your platform for learning to code. in the pythonic way.</figcaption>
    </figure>

    <div class="max-w-[400px] w-full">
        <div class=" bg-darkheader p-3 rounded-md"
            id="form-container">
            {% include 'school/partials/forms/login.html' with form=form %}
        </div>
        <p class="text-center mt-3">
            <span>If You don't have an Account you can </span><br>
            <a class="text-teal-400 underline" href="{% url 'school:register' %}">resgister here</a>
        </p>
    </div>

</section>

{% endblock main %}
    