{% extends 'school/base.html' %}
{% load static %}


{% block main %}
<div class="mx-auto text-center sm:text-start sm:mx-0 max-w-md mb-8">
    <h1 class="font-bresse text-5xl font-semibold mb-3">Study Flashcard</h1>
    <h2 class="text-xl">Your platform for study and memorize, built in a pythonic way.</h2>
</div>
<section class="flex flex-col sm:flex-row gap-x-10 gap-y-5 justify-between items-center">
    <figure class="max-w-[300px] mx-2 overflow-hidden text-center">
        <img class="w-full h-auto object-contain" src="{% static 'school/images/snake.png' %}" alt="A cute python lerning programming in it's laptop">
    </figure>

    <div class="max-w-[400px] w-full">
        <div class=" bg-darkheader p-3 rounded-md"
            id="form-container">
            {% include 'school/partials/forms/register.html' with form=form %}
        </div>
        <p class="text-center mt-3">
            <span>If You have an Account you can </span><br>
            <a class="text-teal-400 underline" href="{% url 'account:login' %}">login here</a>
        </p>
    </div>

</section>

{% endblock main %}
    