{% load dirs %}
<label class="block mb-1" for="{{ form.categories.id_for_label }}">
    {{form.categories.label}}
</label>
{% for error in form.categories.errors %}
    <p class="error_message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
{% endfor %}

<fieldset id="" class="mb-3 grid grid-cols-3 items-end gap-3">

    {% for choice in form.categories  %}
        {% if forloop.first %}
            
            <label onclick="selectAll(this)" for="checkbox-all" data-checkbox="#checkbox-all" 
                class="text-center bg-gray-800 hover:bg-gray-900 border border-teal-300 rounded py-1 px-2" >
                <input  id="checkbox-all" type="checkbox"  
                    selected="False"
                    class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" id="">
                All Categories
            </label>

        {% endif %}
            <label class="text-center bg-gray-800  hover:bg-gray-900  border border-teal-300 rounded py-1 px-2" for="{{choice.data.attrs.id}}">
                <input         
                    
                type="{{choice.data.type}}" name="{{choice.data.name}}" value="{{choice.data.value}}" selected="{{choice.data.selected}}"
                class="category-checkbox w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" id="{{choice.data.attrs.id}}">
                {{choice.data.label | title}}
            </label>
    {% endfor %}
</fieldset> 