{% load dirs %}
<label class="block mb-1" for="{{ form.category.id_for_label }}">
    {{form.category.label}}
</label>
{% for error in form.category.errors %}
    <p class="error_message text-red-400 text-sm mb-[0.15em]">{{ error }}</p>
{% endfor %}

<fieldset id="" class="mb-3 flex items-end gap-3">
    <select hx-get="{% url 'school:update_sections_challenge_form' %}"
    hx-trigger="change"
    hx-target="#challenge-create-number-container"
    hx-swap="innerHTML transition:true"
    
    
    
        multiple name="{{form.category.name}}" id="">
    {% for choice in form.category  %}
    {% if forloop.first %}
        <div id="id_category" class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2">
            
            <div>
                <label class="w-full" for="">
                    <input onclick="selectAll(this)" type="checkbox"  
                        selected="False"
                        class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" id="">
                    All Categories
                </label>
            </div>
        </div>

        {% endif %}
        <div id="" class="w-full bg-gray-800 border border-teal-300 rounded py-1 px-2">
            <option selected="{{choice.data.selected}}" value="{{choice.data.value}}">
            
        <div>
            <label for="{{choice.data.attrs.id}}">
                <input         
                    
                type="{{choice.data.type}}" name="{{choice.data.name}}" value="{{choice.data.value}}" selected="{{choice.data.selected}}"
                class="category-checkbox w-full bg-gray-800 border border-teal-300 rounded py-1 px-2" id="{{choice.data.attrs.id}}">
                {{choice.data.label}}
            </label>
        </div>
    </div>
        </option>
    {% endfor %}
</select>
</fieldset> 